{% extends 'dash/base.html' %}

<title>{% block title %} MahavirTent- Add Product {% endblock %}</title>



{% block content %}
<!-- Main Content -->
<main class="main-content">

    <div class="header" style="color:white ;">
        <h2 class="px-4">Add Product</h2>
    </div>

    <div class="container-fluid mt-4">
        <div class="card form-card">
            <div class="card-body">
                <!-- <h4 class="mb-4">Enter Staff Details</h4> -->
                {% if messages %}
                <ul style="list-style: none; padding: 0; margin: 0; display: flex; justify-content: center;">
                    {% for message in messages %}
                    <li class="message" style="color: green; font-weight: bold; text-align: center; margin-top: 10px;">
                        {{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>

                    <div class="mb-3">
                        <label for="rate" class="form-label">Rate</label>
                        <input type="text" class="form-control" id="rate" name="rate" required>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>


                    <div class="d-flex justify-content-end">
                        <button type="reset" class="btn btn-secondary rounded-pill me-2 mt-3">Clear</button>
                        <button type="submit" class="btn btn-primary rounded-pill me-2 mt-3">Save Data</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</main>

{% endblock %}
</div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    xintegrity="sha384-YvpcrYf0tY3lHB60NNWqQWpsdYh/yJ83G1K9aA46Gq6Q0XpQY5R0J3q4z1A8W4A5l1yWpQ8B8T0Jb5K6f8E6"
    crossorigin="anonymous"></script>

</body>

</html>