{% extends 'dash/base.html' %}

<title>{% block title %} MahavirTent- Staff {% endblock %}</title>
<!-- Bootstrap CSS -->


<!-- Main Content -->
{% block content %}
        <!-- Main Content Area -->
        <main class="main-content">
            <div class="header" style="color:white;">
                <h2 class="px-4">Update Product</h2>
            </div>
            <div class="container-fluid mt-4">
                <div class="card form-card">
                    <div class="card-body">
                        <form action="" method="POST" enctype="multipart/form-data">

                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">Product Name</label>
                                <input type="text" class="form-control" id="name" value="{{ product.name }}" name="name"
                                    required>
                            </div>

                            <div class="mb-3">
                                <label for="rate" class="form-label">Rate</label>
                                <input type="text" class="form-control" id="rate" value="{{ product.rate }}" name="rate"
                                    required>
                            </div>

                            <div class="mb-3">
                                <label for="image" class="form-label">Image</label>
                                {% if product.image %}
                                <img src="{{ product.image.url }}" alt="Product Image" class="mt-2" width="120">
                                {% endif %}
                            </div>

                            <div class="d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary rounded-pill me-2 mt-3">Update</button>
                                <!-- The delete button that opens the modal -->
                                <a href="{% url 'delete_product' product.id %}"
                                class="btn btn-danger rounded-pill px-2 py-2 d-flex align-items-center justify-content-center"
                                onclick="return confirm('Are you sure you want to delete this product?');">
                                    <i class="bi bi-trash3 fs-5"></i>
                                </a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
    </div>


    <!-- Bootstrap JS with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        xintegrity="sha384-YvpcrYf0tY3lHB60NNWqQWpsdYh/yJ83G1K9aA46Gq6Q0XpQY5R0J3q4z1A8W4A5l1yWpQ8B8T0Jb5K6f8E6"
        crossorigin="anonymous"></script>
</body>

</html>